.main {
    width:1200px;
    margin:0 auto;
    
}

.format {
    font-size: 10px;
}

.cards {
    margin-top: 30px;
    display: flex;
    flex-direction:row;
}

.divka {
    display: none;
}

.bigHeader {
    position: relative;
    width:100%;
    background: 1px solid red;
}

