.imgblock {
    position: relative;
    display: inline-block;
    padding: 10px;


}

.imgblock img {

    object-fit: cover;
}
.text {
    background: #222;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    left:0px;
    bottom:0px;
    width:100%;
    margin:0px;
    font-size: 18px;
    opacity:0.8;
    padding:10px;
}

.main {
    position: relative;

}

.cardmedia {
    position:relative ;
}

.cardContent {
    margin-left: 8px;
}

.datatext {
    font-size:14px ;
    font-weight: 30%;
    padding: 10px 0px 0px 0px;
    color:darkgrey;
    display: flex;
}

.cost {
    text-align: right;
}

.name {
    font-size: 14px;
    
    color:#4c4852; 
    font-family: Proxima Nova Cn, Helvetica Neue, Helvetica, sans-serif;
    text-decoration:underline;
    padding:5px;
    white-space: normal;
    width: 200px;
}